scripts/pipeline-retroalimentacao.n8n.json
{
  "name": "case-refs · pipeline retroalimentacao semanal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "cronExpression", "expression": "0 6 * * 0"}
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Domingo 06:00 BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knusqfbvhsqworzyhvip.supabase.co/rest/v1/rpc/case_refs_top_players_seed",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}"},
            {"name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"p_limit\":30,\"p_min_score\":80}"
      },
      "id": "seed-list",
      "name": "Seed: top 30 perfis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Monta directUrls Apify a partir dos perfis seed\nconst rows = $input.first().json;\nconst urls = rows.map(r => `https://www.instagram.com/${r.perfil}/`);\nreturn [{json: {directUrls: urls, resultsType: 'posts', resultsLimit: 10, addParentData: false}}];"
      },
      "id": "build-apify-input",
      "name": "Monta input Apify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token={{$env.APIFY_TOKEN}}&timeout=600",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "apify-scrape",
      "name": "Apify scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filtros brutos (passo 3 da spec): dedup local, idade, engajamento, keyword\nconst items = $input.first().json;\nconst KEYWORDS_CLINIC = ['clinica','clínica','consultorio','consultório','paciente','medico','médico','dermatologia','estetica','estética','harmonizacao','harmonização','lifting','botox','pele','tratamento','procedimento','dentista','odonto','cirurgiao','cirurgião'];\nconst KEYWORDS_SCALE  = ['mentoria','mentorada','empreendedor','ticket','agenda','vendas','oferta','posicionamento','autoridade','lancamento','lançamento','conteudo','conteúdo','instagram','negocio','negócio','escala','faturamento'];\nconst now = Date.now();\nconst ANO_MS = 365*24*60*60*1000;\n\nconst survivors = [];\nfor (const it of items) {\n  if (!it.shortCode) continue;\n  // idade\n  const ts = it.timestamp ? Date.parse(it.timestamp) : null;\n  if (ts && (now - ts) > ANO_MS) continue;\n  // engajamento\n  const likes = it.likesCount || 0;\n  const views = it.videoViewCount || it.videoPlayCount || 0;\n  if (likes < 500 && views < 10000) continue;\n  // match trilha\n  const text = ((it.ownerUsername||'') + ' ' + (it.caption||'').slice(0,500)).toLowerCase();\n  const clinic = KEYWORDS_CLINIC.some(k => text.includes(k));\n  const scale  = KEYWORDS_SCALE.some(k => text.includes(k));\n  if (!clinic && !scale) continue;\n  survivors.push(it);\n}\nreturn survivors.map(s => ({json: s}));"
      },
      "id": "filter-bruto",
      "name": "Filtro bruto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.18.0.1:9999/transcribe",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"url\":\"{{$json.videoUrl || $json.audioUrl}}\",\"language\":\"pt\",\"model\":\"small\"}",
        "options": {"timeout": 300000, "response": {"response": {"neverError": true}}}
      },
      "id": "whisper-local",
      "name": "Whisper (localhost VPS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Junta Apify item + transcricao + chama Claude classificador via Execute Command\nconst all = $input.all();\nreturn all.map(n => {\n  const item = n.json.item || n.json;\n  const trans = n.json.text || '';\n  return {json: {...item, transcricao: trans}};\n});"
      },
      "id": "merge-apify-whisper",
      "name": "Merge Apify+Whisper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 800,\n  \"system\": \"Voce e curador editorial seguindo o metodo DECIDA da Queila Trizotti (Case). Classifica 1 referencia de conteudo do Instagram. Responde APENAS JSON puro sem markdown.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"DADOS:\\nPerfil: @{{$json.ownerUsername || 'desconhecido'}}\\nCaption: {{($json.caption || '').replace(/\\\"/g, '\\\\\\\"').substring(0, 2000)}}\\nTranscricao: {{($json.transcricao || '').replace(/\\\"/g, '\\\\\\\"').substring(0, 3000)}}\\nLikes: {{$json.likesCount || 0}} / Views: {{$json.videoViewCount || $json.videoPlayCount || 0}}\\nDuracao: {{$json.videoDuration || 0}}s\\n\\nCLASSIFIQUE em JSON puro:\\n{\\n  \\\"trilha\\\": \\\"clinic\\\" OU \\\"scale\\\",\\n  \\\"etapa_funil\\\": \\\"DESCOBERTA\\\" OU \\\"CONFIANCA\\\" OU \\\"ACAO\\\",\\n  \\\"tipo_estrategico\\\": UMA das 10 linhas: \\\"Alerta de Erro, Perda ou Risco\\\" | \\\"Ganho, Solucao ou Caminho\\\" | \\\"Contrassenso / Quebra de Crenca\\\" | \\\"Comparacao / Contraste\\\" | \\\"CIS / Identificacao\\\" | \\\"Historia / Curiosidade / Experiencia\\\" | \\\"Prova / Case / Autoridade\\\" | \\\"Mecanismo / Metodo / Causa Real\\\" | \\\"Analise / Decodificacao\\\" | \\\"Objecao / Decisao / Acao\\\",\\n  \\\"objetivo\\\": \\\"Atrair\\\" | \\\"Identificar\\\" | \\\"Desejo\\\" | \\\"Confiar\\\" | \\\"Vender\\\",\\n  \\\"quando_usar\\\": frase 30-180 chars: quando no calendario usar,\\n  \\\"por_que_funciona\\\": frase 40-200 chars: mecanica editorial concreta,\\n  \\\"como_adaptar\\\": frase 40-220 chars: caminho pratico cliente CASE,\\n  \\\"quality_score\\\": 0-100 inteiro\\n}\\n\\nREGRAS:\\n- DECIDA mix 60% D+E / 30% C+I+D / 10% A\\n- pt-BR tom consultivo\\n- Zero anglicismos\\n- Zero ROI/semanas/garantia\\n- Sem prosa antes/depois do JSON\\n\"\n    }\n  ]\n}",
        "options": {"timeout": 60000}
      },
      "id": "classificador-llm",
      "name": "Classificador (Anthropic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrai JSON do response Anthropic e funde com o item original\nconst itemOriginal = $('Merge Apify+Whisper').item.json;\nconst resp = $input.first().json;\nconst raw = resp.content?.[0]?.text || '';\nlet cls = {};\ntry {\n  let s = raw.trim();\n  if (s.startsWith('```')) { s = s.split('```')[1]; if (s.startsWith('json')) s = s.slice(4); }\n  const m = s.match(/\\{[\\s\\S]*\\}/);\n  if (m) cls = JSON.parse(m[0]);\n} catch (e) { console.error('parse failed', e, raw); }\nreturn [{json: {...itemOriginal, ...cls}}];"
      },
      "id": "parse-classificacao",
      "name": "Parse classificacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1890, 300]
    },
    {
      "parameters": {
        "jsCode": "// Cada item ja vem com Apify + transcricao + classificacao fundidos.\nconst items = $input.all().map(n => {\n  const it = n.json;\n  return {\n    shortcode: it.shortCode,\n    url: `https://www.instagram.com/p/${it.shortCode}/`,\n    perfil: it.ownerUsername,\n    tipo_artefato: it.type === 'Video' ? 'reel' : 'publicacao_avulsa',\n    plataforma: 'instagram',\n    caption: it.caption,\n    display_url: it.displayUrl,\n    video_url: it.videoUrl,\n    cover_url: it.displayUrl,\n    likes: it.likesCount,\n    comments: it.commentsCount,\n    views: it.videoViewCount || it.videoPlayCount,\n    timestamp_post: it.timestamp,\n    transcricao: it.transcricao,\n    language_code: 'pt',\n    audio_duration_ms: (it.videoDuration || 0) * 1000,\n    trilha: it.trilha,\n    etapa_funil: it.etapa_funil,\n    tipo_estrategico: it.tipo_estrategico,\n    objetivo: it.objetivo,\n    quando_usar: it.quando_usar,\n    por_que_funciona: it.por_que_funciona,\n    como_adaptar: it.como_adaptar,\n    quality_score: it.quality_score,\n    origem: 'pipeline_semanal',\n    top_player_perfil: it.ownerUsername,\n  };\n});\nreturn [{json: {p_items: items}}];"
      },
      "id": "build-payload",
      "name": "Monta payload inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knusqfbvhsqworzyhvip.supabase.co/rest/v1/rpc/case_refs_inbox_submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}"},
            {"name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{JSON.stringify($json)}}"
      },
      "id": "submit-inbox",
      "name": "POST inbox_submit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log final do run (n8n executions já mostra historico).\n// Sem notificacao externa — Queila abre /inbox-admin quando quiser.\nconst r = $input.first().json;\nreturn [{json: {\n  inserted: r[0]?.inserted_count || 0,\n  rejected: r[0]?.rejected_count || 0,\n  rejected_reasons: r[0]?.rejected_reasons || [],\n  ran_at: new Date().toISOString()\n}}];"
      },
      "id": "log-final",
      "name": "Log final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Domingo 06:00 BRT": {"main": [[{"node": "Seed: top 30 perfis", "type": "main", "index": 0}]]},
    "Seed: top 30 perfis": {"main": [[{"node": "Monta input Apify", "type": "main", "index": 0}]]},
    "Monta input Apify": {"main": [[{"node": "Apify scraper", "type": "main", "index": 0}]]},
    "Apify scraper": {"main": [[{"node": "Filtro bruto", "type": "main", "index": 0}]]},
    "Filtro bruto": {"main": [[{"node": "Whisper (localhost VPS)", "type": "main", "index": 0}]]},
    "Whisper (localhost VPS)": {"main": [[{"node": "Merge Apify+Whisper", "type": "main", "index": 0}]]},
    "Merge Apify+Whisper": {"main": [[{"node": "Classificador (Anthropic)", "type": "main", "index": 0}]]},
    "Classificador (Anthropic)": {"main": [[{"node": "Parse classificacao", "type": "main", "index": 0}]]},
    "Parse classificacao": {"main": [[{"node": "Monta payload inbox", "type": "main", "index": 0}]]},
    "Monta payload inbox": {"main": [[{"node": "POST inbox_submit", "type": "main", "index": 0}]]},
    "POST inbox_submit": {"main": [[{"node": "Log final", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "active": false,
  "tags": []
}
